body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    justify-content: center;
}

.header {
    background-color: lightpink;

}


#books-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    padding: 20px;
    border-radius: 30px;
    gap: 2em;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}



