body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr;

}


.header {
    background-color: lightpink;
}


#books-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    gap: 2em;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

}







