body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: lightblue;
}

.header {
    background-color: lightpink;
}


#books-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

}






/* 
body {
    margin: auto 0;
}

button {
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.books-container {
    display: flex;
}

.delete-button {
    background-color: #fa584c; 
    color: var(--text-color-light);
    margin-right: 10px;
}

.delete-button:hover {
    background-color: #e14545; 
}

.toggle-read-button {
    background-color: #78dc7b; 
    color: var(--text-color-light);
}

.toggle-read-button:hover {
    background-color: #388e3c; 
}



.book-card:hover {
    transform: translateY(-5px); 
} */
