
body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

button {
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.books-container {
    display: flex;

}

.delete-button {
    background-color: #fa584c; 
    color: var(--text-color-light);
    margin-right: 10px;
}

.delete-button:hover {
    background-color: #e14545; 
}

.toggle-read-button {
    background-color: #78dc7b; 
    color: var(--text-color-light);
}

.toggle-read-button:hover {
    background-color: #388e3c; 
}

.book-card {
    width: 300px;
    height: 300px;
    background-color: pink;
    border-radius: 10px;
    padding: 25px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 10px;
    font-weight: 600;


    gap: 5px;
}

.book-card:hover {
    transform: translateY(-5px); 
}
