body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.header {
    background-color: lightpink;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#books-container {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    padding: 20px;
    border-radius: 30px;
    gap: 2em;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

.add-book-button {
    background-color: hsl(177, 70%, 68%);
    border: none;
    padding: 1em;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    font-weight: 900; 
}

#create {
    background-color: lightpink;
    border: none;
    color: pink;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}